@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background: #000;
  font-family: "Nanum Gothic";
}

/*  NAV  */

#toggle{
  display: none;
}
.button{
  background: url("img/switch0.png");
  background-size: cover;
  position: fixed;
  bottom: 10vh;
  left:  85vw;
  border-radius: 100%;
  box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.3);
  cursor: pointer;
  height: 100px;
  position:fixed ;
  transition: 0.4s;
  width: 100px;
  z-index: 999;
}
.nav{
  position: fixed;
  display: none !important;

  animation-name: appear;
  animation-duration: .4s;
  background: #ffffff;
  width: 200px;
  bottom: 20vh;
  left:  75vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-sizing: border-box;
}

@keyframes appear{
  from{
    transform: translateY(-10%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

.nav a{
  text-align: left;
  padding: 20px;
  font-size: 30px;
  color: #000;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 2px;
}
.nav a:hover{
  color: #fff;
  background-color: #000000;
}
#toggle:checked ~ .nav{
  display: inline-flex !important;
  opacity: 1;
}
#toggle:checked ~ .button{
  background-image: url("img/switch1.png");
}



/* Header */

.form{
  margin: 0% 18% 5% 18%;  
}
header{
  background-image: url(img/Intelectuall.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  height: 10vh;
  margin: 10px 18%;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  display: flex;
  align-items: flex-end;
  z-index: 9;
}

/* Section */

section article{
  color:white;
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
section article .img{
  z-index: 9;
}
section article img{
  width: 200px;
}
section article div{
  margin-left:20px;
}

/* Footer */

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
  color: #999;
  background-color: black;
  z-index: 9;
}

.colum{
  width: 190px;
  margin-top: 30px;
  display: flex;
  flex-direction: column ;
  background-color: black;

}
.colum h3{
  font-size: 20px;
  padding-bottom: 10px;
}
.colum a{
  padding-bottom: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #999;
}

.colum a:hover{
  color: white;
}

/* Responsive */